.study
  .header
    = render partial: "main_page/header"

  .body
    .profile
      %p 氏名：清水 恵介（しみず けいすけ）
      %p 研究分野：民法（近時は特に担保法）

    .study_registration
      = form_for @study do |f|
        .study_book
          論文名、著作名：
          = f.text_field :book, class:"regi" ,placeholder: "論文名、著作名を入力してください"
        .study_details
          詳細        ：
          = f.text_field :details, class:"regi", placeholder: "詳細を入力してください"
        .study_url
          URL        ：
          = f.text_field :url, class:"regi", placeholder: "URLを入力してください"
        = f.submit "登録する"
      = flash[:notice]

    .book
      %table
        %tr
          %th.th1 主な論文・著書
          %th.th2 詳細
          %th.th3 削除
          - @studies.each do |study|
            %tr
              -if study.url.length > 0
                %td
                  = link_to study.book, study.url, target:"_blank"
              -else 
                %td 
                  = study.book
              %td
                = study.details
              %td
                .delete-btn
                  = link_to "削除", "/studies/#{study.id}", method: :delete


