.alert
  = flash[:alert]
.notice
  = flash[:notice]

.home
  清水恵介HP


  .menu
    #home.select
      ホーム
      = link_to "", "/"
    #lecture.select
      講義
      = link_to "", "/lectures#index"
    #seminar.select
      ゼミ
      = link_to "", "/seminar#index"
    #law_school.select
      ロースクール
      = link_to "", "/law_school#index"
    #study.select
      民法研究
      = link_to "", "/studies#index"
    #reprint.select
      論文復刻
      = link_to "", "/reprint#index"
    #link.select
      リンク集
      = link_to "", "/link#index"
    #blog.select
      更新日記
      = link_to "", "/blog#index"
